BODY,HTML {
	font: 10pt Verdana;
}
H1.main
{
	padding: 3px;
	background-color: #aaa;
	color: #fff;
}

PRE.main
{ 
   background-color: beige; border: 1px #CC9900 solid; 
   padding-top: 5px; padding-right: 5px;
   padding-bottom: 5px; padding-left: 5px; line-height: normal
}

td.spacer {
	padding-bottom: 10px;
	padding-top: 10px;
}

.title {
	font-family: sans-serif;
	color: #99AACC;
}

.bodyText {
	font-family: sans-serif;
	font-size: 12pt;
	color: #000000;
}

.sub-header {
	font-weight: bold;
	font-size: 10pt;
	color: white;
}

.log-text {	
	font-weight: lighter;	
	color: black;
}

.big-header {
	font-style: normal;
	font-weight: bold;
	font-size: 10pt;
	color: white;
	border-top: 10px solid white;
}

.light-row {
	background: #FFFFFF
}

.dark-row {
	background: #EEEEFF
}

.header {
	background: #99AADD
}

#indent {
	word-wrap: break-word;;
	width: 300px;;
	text-indent: 10px;
}
